* {
  background-color: #111419;
  text-color: #e8eaef;
  selected: #1d2026;
}

mainbox {
  background-color: #111419;
  border: 0;
  padding: 5px;
}

element {
  padding: 0.3em;
}

element-icon {
  size: 20;
}

element.selected {
  background-color: @selected;
}

button {
  padding: 0.1em;
}

button.selected {
  background-color: @selected;
}
