* {
  background-color: #18191d;
  text-color: #e8eaef;
  selected: #5a74ca;
}

mainbox {
  background-color: #18191d;
  border: 0;
  padding: 10px;
}

element {
  padding: 0.3em;
}

element-icon {
  size: 18;
}

element.selected {
  background-color: @selected;
}

button {
  padding: 0.1em;
}

button.selected {
  background-color: @selected;
}
